.header {
  padding: 20px;
  outline: 1px solid red;
  margin-bottom: 20px;
}

main {
  padding: 20px;
  margin: 20px 0;
  outline: 1px solid black;
}

.footer {
  margin-top: 20px;
  padding: 20px;
  outline: 1px solid green;
}

